@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?uovhhl');
  src:  url('fonts/icomoon.eot?uovhhl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uovhhl') format('truetype'),
    url('fonts/icomoon.woff?uovhhl') format('woff'),
    url('fonts/icomoon.svg?uovhhl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bold:before {
  content: "\ea62";
}
.icon-underline:before {
  content: "\ea63";
}
.icon-italic:before {
  content: "\ea64";
}
.icon-strikethrough:before {
  content: "\ea65";
}
.icon-embed2:before {
  content: "\ea80";
}
